<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bancos</title>
  </head>
  <body>
    <h1>Bancos</h1>
    <ul>
      <% data.forEach(banco => { %>
        <li><%= banco.name %></li>
      <% }); %>
    </ul>
  </body>
</html>


