<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Benvindo ao <%= title %></p>
    <p>Este retorno foi gerado pela estrutura:</p>
    <p>Router -> controller -> Index.ejs</p>
  </body>
</html>
